#scheduleTable, th{
  border: 1px solid black;
  border-spacing: 0px;

}

td {
  padding: 15px;
}

.statusCol{
  border-bottom: 0px;
  border-right: 1px solid black;

}
.async{
  border-top: 1.5px solid black;
}
.classInfo{
  border: 1px solid black;
  background-color: aliceblue;
}

#editMenu {
  display: none;
}